<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create new user</title>
</head>
<body>
<h1>Create new user</h1>
<br/>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="lastName">Last Name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <br/>
    <label for="age">Age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <label for="phone">Phone: </label>
    <input type="number" th:field="*{phone}" id="phone"/>
    <br/>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <label for="roles"><b>Role</b></label>
    <select multiple class="form-control form-control-sm"
            id="roles" name="listRoles" size="2" required>
        <option selected="selected" value="1">ADMIN</option>
        <option value="2">USER</option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Create user"/>
</form>
<br/>
<form th:method="GET" th:action="@{/admin}">
    <input type="submit" value="Return to users list"/>
</form>
<br/>
<a href="/logout">Logout</a>
</body>
</html>